/* Dashboard Styles */

.dashboard-container{
    padding:20px;
}

.card{
    margin-bottom:20px;
}

.card h5{
    font-size:18px;
    color:#555;
}

.card h3{
    color:#0d6efd;
}

canvas{
    max-width:600px;
    margin:auto;
    display:block;
}