/* Form Styles */

form{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 2px 10px rgba(0,0,0,0.1);
}

label{
    font-weight:600;
}

input,select{
    border-radius:6px;
}

button{
    margin-top:10px;
}