<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">

<a class="navbar-brand" href="../dashboard.html">SmartFin</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="../dashboard.html">Dashboard</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/income-expense.html">Income & Expenses</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/assets.html">Assets</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/investments.html">Investments</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/tax.html">Tax</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/insurance.html">Insurance</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../pages/loans.html">Loans</a>
</li>

</ul>

</div>
</div>
</nav>